@charset "UTF-8";
* {
    outline: none!important;
}

/*---------------------------------
  基本設定
---------------------------------*/

html {
  border: 20px solid #fef7ec;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2 {
  letter-spacing: 0.1em;
  color: #333;
}

/*---------------------------------
  ヘッダー
---------------------------------*/

header {
  padding: 50px;
}

.heaer-inner {
  text-align: center;
  width: 100%;
}

header img {
  width: 300px;
}

header p {
  padding-top: 30px;
}

.login-inner {
  text-align: center;
}


.login-inner a {

  display: block;
  padding: 10px;
  width: 250px;
  margin: 20px auto;

}


#login-btn {
  border: 1px solid #ffba4c;
  color: #fff;
  background-color: #ffba4c;
  border-radius: 5px;
}



#jump-appform {
  border: 1px solid #ff9d00;
  color: #ff9d00;
  background-color: #fef7ec;
  border-radius: 5px;
}

#login-btn:hover, #jump-appform:hover {
  color: #ff9d00;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ff9d00;
}

/*---------------------------------
  本文
---------------------------------*/

main {
  max-width: 700px;
  margin: 0 auto;
  padding: 100px 30px;
}



/* 会員登録の流れ */
.flow {
  text-align: center;
  border: 3px solid #ff9d00;
  background-color: #fef7ec;
  border-radius: 5px;
  padding: 30px 10px;
}


.app-flow {
  text-align: left;
  padding-top: 30px;

}

.app-flow li {
  line-height: 2em;
}



/* 会員登録フォーム */
#app {
  margin-top: 50px;
  text-align: center;
  border: 3px solid #ff9d00;
  background-color: #fef7ec;
  border-radius: 5px;
  padding: 30px 10px;
}


.formitem {
  text-align: left;
  padding: 0 30px;
  margin: 20px auto;
}

.formitem dd {
  width: 100%;
}

.formitem dd input {
  width: 100%;
  padding: 10px;
}

.formitem dt {
  margin-top: 30px;
  font-size: 15px;
}

.formitem .small input  {
  width: 50%;
}

.form-check {
  padding-top: 10px;
}



/* 送信ボタン */
.submit-btn {
  border: 1px solid #ffba4c;
  color: #fff;
  font-weight: bold;
  background-color: #ffba4c;
  border-radius: 5px;
  width: 300px;
  padding: 10px;
  margin-top: 20px;
}

.submit-btn:hover {
  color: #ff9d00;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ff9d00;
}



/*---------------------------------
  フッター
---------------------------------*/
footer {
  text-align: center;
  padding: 30px;
}